<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diary" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".Choose" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Student.Monday"
            android:label="@string/monday">
        </activity>
        <activity
            android:name=".Student.Tuesday"
            android:label="@string/tuesday">
        </activity>
        <activity
            android:name=".Student.Wednesday"
            android:label="@string/wednesday">
        </activity>
        <activity
            android:name=".Student.Thursday"
            android:label="@string/thursday">
        </activity>
        <activity
            android:name=".Student.Friday"
            android:label="@string/friday">
        </activity>
        <activity
            android:name=".Teacher.Monday_set"
            android:label="@string/monday">
        </activity>
        <activity
            android:name=".Teacher.Tuesday_set"
            android:label="@string/tuesday">
        </activity>
        <activity
            android:name=".Teacher.Wednesday_set"
            android:label="@string/wednesday">
        </activity>
        <activity
            android:name=".Teacher.Thursday_set"
            android:label="@string/thursday">
        </activity>
        <activity
            android:name=".Teacher.Friday_set"
            android:label="@string/friday">
        </activity>
    </application>

</manifest>